body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.header, .footer {
    text-align: center;
    background-color: #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    padding: 16px;
    font-size: 32px;
}

.footer {
    font-size: 12px;
    padding: 8px;
}


/* CALCULATOR */
#calculator {
    align-self: center;
    display: flex;
    flex-direction: column;
    padding: 16px;
    width: 256px;
    height: 350px;
    gap: 8px;
    border: 2px solid black;
    background-color: salmon;
}

#display {
    flex: 1;
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
    height: 35.5px;
    background-color: #eeeeee;
    border: 2px solid black;

}

#result {
    align-self: flex-start;
}

#expression {
    align-self: flex-end;
}

/* NUM PAD*/
#numpad {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.numbers {
    display: flex;
    gap: 8px;
}

button {
    flex: 1;
    padding: 8px;
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#dot {
    flex: 2.737;
}

button:hover {
    border: 2px solid gold;
    background-color: beige;

}

.mimic_hover {
    border: 2px solid gold;
    background-color: beige;
}
